@charset "UTF-8";

/* footer */
#footer{
    background: #60933bde;
}
#footer .footer_inner{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    position:relative;
}
#footer address {
    position:absolute;
    left:230px;
    top:120px;
    font-style:normal;
    color:#fff;
}

